$breakpoints: (
	small: 40em,
	medium: 48em,
	large: 62em,
);

$colors: (
	primary: (
		400: hsl(0 100% 68%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		300: hsl(207 33% 95%),
		400: hsl(231 7% 65%),
		600: hsl(230 11% 40%),
		700: hsl(230 29% 20%),
	),
);

$font-sizes: (
	small: (
		300: 1.4rem,
		400: 1.6rem,
		500: 1.8rem,
		700: 4rem,
	),
	medium: (
		300: 1.5rem,
		400: 1.8rem,
		700: 6.4rem,
	),
);

$font-weights: (
	400: 400,
	700: 700,
);

$border-radius: (
	300: 0.6rem,
	700: 8rem,
	900: 100vmax,
);

$spacings: (
	em: (
		100: 0.125em,
		200: 0.5em,
		300: 0.75em,
		400: 1em,
		450: 1.125em,
		500: 1.5em,
		600: 2em,
		800: 4em,
	),
	rem: (
		300: 2rem,
		500: 4rem,
		600: 6.4rem,
		800: 8rem,
	),
);
