@use '../base/mixins';

.separator-dot {
	--width: 0.6rem;
	display: none;
	width: var(--width);
	aspect-ratio: 1;
	background-color: var(--clr-neutral-400);
	border-radius: 50%;

	@include mixins.mq(small) {
		display: block;
	}
}
