@use '../base/mixins';

.button {
	--padding-inline: var(--spacing-em-400);
	--padding-block: var(--spacing-em-300);
	display: inline-flex;
	padding: var(--padding-block) var(--padding-inline);
	font-family: var(--ff-secondary);
	font-size: 1.6rem;
	font-weight: var(--fw-700);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 1px;
	color: var(--clr-neutral-100);
	background-color: var(--clr-primary-400);
	border: none;
	border-radius: var(--borr-300);
	cursor: pointer;
	transition: opacity 0.35s ease;

	&:hover,
	&:focus {
		opacity: 0.75;
	}

	@include mixins.mq(medium) {
		--padding-inline: var(--spacing-em-600);
		--padding-block: var(--spacing-em-400);
	}
}
