.link {
	--text-color: var(--clr-neutral-700);
	display: inline-block;
	font-size: var(--fz-400);
	font-weight: var(--fw-700);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	color: var(--text-color);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	&--secondary {
		--text-color: var(--clr-neutral-400);
	}
}
