@use '../base/mixins';

.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: clamp(var(--spacing-rem-500), 5vw, var(--spacing-rem-600));
	padding-bottom: var(--spacing-em-400);
	margin-bottom: clamp(var(--spacing-rem-600), 4rem + 5vw, 10rem);
	font-family: var(--ff-secondary);

	&__nav {
		--gap: var(--spacing-rem-300);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: var(--gap);
		width: 100%;

		@include mixins.max-mq(medium) {
			display: none;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(100%);

			&[data-expanded] {
				display: flex;
			}
		}

		@include mixins.mq(medium) {
			--gap: var(--spacing-rem-500);
		}
	}

	&__nav-links {
		display: flex;
		align-items: center;
		gap: var(--gap);
	}

	&__toggle-btn {
		@include mixins.mq(medium) {
			display: none;
		}
	}
}
